torch --index-url https://download.pytorch.org/whl/cu128 
torchvision --index-url https://download.pytorch.org/whl/cu128 
torchaudio --index-url https://download.pytorch.org/whl/cu128
transformers
pip 
numpy 
lmdb
h5py 
matplotlib
opencv-python 
Pillow
tensorboard
protobuf 
scikit-image 
scikit-learn 
einops
loralib
decord
tqdm
timm